.App{
  display: grid;
  grid-template-areas: "sidebar header" "sidebar main";
  grid-template-columns: 1fr 2.3fr;
  grid-template-rows: 120px 1fr;
  min-height: 100vh;
}

.App_header {
  grid-area: header;
  padding-left: 16px;
  padding-top: 32px;
  text-align: center;
}

.App_Nav{
  grid-area: sidebar;
  height: 100vh;
  overflow: auto;
}

.App_main{
  grid-area: main;
}

.NavList, .NotesList{
  list-style: none;
}

.NavList{
  margin: 130px 0 0;
}

.NavList li, .NotesList li{
  border: 1px solid black;
}

.NavList li{
  padding: 10px;
  margin-bottom: 10px;
}

.NotesList li{
  padding: 10px;
  width: 60%;
  margin-bottom: 10px;
}